#
site/
docs/_site/
docs/.jekyll-cache/
docs/Gemfile
docs/Gemfile.lock
*.asv
docs/markdown_misc
signature_test_script_old
# example/results/*.mat
.jekyll-cache/
example/example_data/CAMELS_v2.0
example/example_data/CAMELS_GB
example/example_data/old
old/
example/results/CAMELS_GB_TOSSH_signatures.mat
example/results/CAMELS_TOSSH_signatures.mat
_build/
main_test.m